<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Title of webpage -->
        <title>J.A.M.A.R.</title>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <!-- CSS styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <!-- Mapbox CSS and JS -->
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.7.0/mapbox-gl.js"></script>        
        <!-- Mapbox geocoder -->
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.min.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.3/mapbox-gl-geocoder.css">
    </head>
    <body>
        <!-- Toggle Instructions Button -->
        <button id="toggle-instructions">
            <i class="fas fa-list-dots"></i>
        </button>

        <!-- Map display-->
        <div id="map" style="position: absolute; width: 100%; height: 100%;"></div>

        <!-- Search box containers -->
        <div class="geocoder-container">
            <div id="geocoderStart" class="mapbox-gl-geocoder"></div>
            <div id="geocoderDestination" class="mapbox-gl-geocoder"></div>
        </div>

        <!--Button to view, start routes, clear markers and routes-->
        <div class="search-container">
            <button id="clear-markers">Clear Markers</button>
            <input id="view-route" type="button" value="View Route" />
            <input id="start-route" type="button" value="Start Route" />
        </div>

        <!--Recentre to location button-->
        <button id="recentre-button">
            <i class="fas fa-compass"></i>
        </button>
        
        <!--Travel type button-->
        <div class="travel-type">
            <button id="travel-type-car">
                <i class="fas fa-car"></i>
            </button>
            <button id="travel-type-walking">
                <i class="fas fa-walking"></i>
            </button>
        </div>

        <!-- Compass arrow -->
        <div class="compass-container">
            <div id="triangle">
                <!-- Inner triangle -->
                <div class="inner-triangle"></div>
            </div>
            <div id="cardinal-directions">
                <div class="direction north">N</div>
                <div class="direction south">S</div>
                <div class="direction east">E</div>
                <div class="direction west">W</div>
            </div>
        </div>

        <!-- Instructions Container -->
        <div id="instructions" style="display: none;">
            <div class="tabs">
                <button class="tab-button tab-button-active" onclick="showTab('fullRoute')">Full Route</button>
                <button class="tab-button tab-button-inactive" onclick="showTab('midRoute')">Mid Route</button>
                <button id="shuffle-instr">
                    <i class="fas fa-random"></i>
                </button>
            </div>
            
            <!-- Full Route Tab -->
            <div id="fullRoute" class="tab-content" style="display: block;">
                <!-- Full Route Duration will go here -->
                <p id="full-route-duration"></p> 
                <!-- New Container for Full Route Duration -->
                <ul id="instructions-list-full"></ul>
            </div>
            
            <!-- Mid Route Tab -->
            <div id="midRoute" class="tab-content" style="display: none;">
                <!-- Mid Route Duration will go here -->
                <p id="mid-route-duration"></p> 
                <!-- New Container for Mid Route Duration -->
                <ul id="instructions-list-mid"></ul>
            </div>

            <!-- Hidden element to continuously update the current instruction -->
            <div id="hidden-current-instruction" style="display: none;"></div>
        </div>

        <!-- Move the script to the end of the body -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://unpkg.com/@mapbox/polyline/polyline.min.js"></script>
        <script src="{{ url_for('static', path='Map.js') }}"></script> <!-- Link to the JavaScript file -->
    </body>
</html>
